/*@import url(//db.onlinewebfonts.com/c/6f93def3e1ffe55e2b935fa63fe510fb?family=Navigo);*/
/*@import url(//db.onlinewebfonts.com/c/6f93def3e1ffe55e2b935fa63fe510fb?family=Navigo);*/
#choiseAdd{
    text-align: left;
    width: 89%;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F6F7F9;

}

p, div, h1, h3, input {
    margin: 0;
    padding: 0;
}
.oferta{
    font: Lighter 13px Navigo;
    padding-left: 29px;
}

.grafic-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-bottom: 13px;*/
    border-right: 1px solid #6f6f6f26;
    /*opacity: 1;*/
    /*top: -12.5px;*/
    /*left: 216px;*/
    min-width: 215px;
    height: 100%;
}

.grafic-logo {
    /*margin-top: 10px;
    margin-left: 60px;*/
    width: 93px;
    height: 47px;
    margin-bottom: 17px;
}

.menu-container-right-element-button {
    background: #2E2E2D 0% 0% no-repeat padding-box;
    opacity: 1;
    border-style: none;
    color: white;
    height: 100%;
    width: 100%;
}


.menu-container-right-element-button a {
    top: 34px;
    left: 1596px;
    width: 120px;
    height: 22px;
    text-align: left;
    font-weight: Lighter;
    font-family: Navigo;
    font-size: 16px;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

.select-bold select {
    font-weight: 700;

}

.topnav {

    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.nav-container a {
    top: 34px;
    left: 856px;
    width: 70px;
    height: 22px;
    text-align: left;
    font: Lighter 16px/22px Navigo;
    letter-spacing: 0;
    color: #2E2E2D;
    opacity: 1;
}

.nav-container {
    margin-left: 39px;
    width: 700px;
}

.menu-container {
    grid-area:   1 / 1 / 2 / 4;
    background-color: rgba(255, 255, 255, 0.0);
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #6f6f6f26;
    align-items: center;
    font-family: Navigo;
    height: 90px;
    position: relative;
}

.menu-icon {
    padding-bottom: 20px;
    color: #2E2E2D;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.65px;
    margin-right: 20px;
    margin-left: 15px;
}

.menu-container-left {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;
}

.menu-container-right {

    align-items: center;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.hidden-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    list-style: none;
    border: 1px solid #EEEEEE;
    margin: 0;
    box-sizing: border-box;
   height: 106%;
     margin-top: 0px;
    top: -34px;
    background: #484848;
    left: -1897px;
    transition: right .2s;
    z-index: 2;
    width: 100%;
    overflow: auto;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.grafic-logo-hid-cont {
    border: 1px solid #EEEEEE;
    height: 63px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 15px;

}

.hidden-menu-element {
    line-height: 50px;
    padding-left: 20px;
}

.hidden-menu div a {
    text-decoration: none;
    color: #FFFFFF;
}

.hidden-menu-ticker {
    display: none;
}

.btn-menu {
    cursor: pointer;
    transition: right .23s;
    z-index: 30;
    width: 20px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.btn-menu span {
    display: block;
    height: 2px;
    background-color: white;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
    top: 27px;
    width: 26px;
    left: 51px;
    opacity: 1;
}

.btn-menu span.second {
    width: 16px;
}

.btn-menu span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu {
    width: 114px;
    height: 84px;
    padding: 27px 0px 0px 0px;
    top: 0px;
    background-color: #bb2636;
    position: absolute;
    right: 0.6%;
}

.hidden-menu-ticker:checked ~ .btn-menu-empty {
    width: 20px;
}

.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 7px;
    background-color: #ffffff;
}

.hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;

}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -7px;
    background-color: #ffffff;
}

.topmenu > li {

    display: inline-block;
    position: relative;
    list-style-type: none;
}

.topmenu > li .submenu {
    list-style-type: none;
}

.topmenu > li > a {

    left: 255px;
    width: 91px;
    height: 22px;
    text-align: left;
    font: 16px Navigo;
    font-weight: 300;
    letter-spacing: 0;
    opacity: 1;
    font-family: Navigo, serif;
    font-size: 16px;
    text-decoration: none;
    color: #2E2E2D;
}

.down:after {
    margin-left: 8px;
    font-family: Navigo, serif;
}

.submenu {
    padding: 10px 26px 10px;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    right: -165px;
    top: 46px;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: 222px;
}

.submenu.lang {
    width: 50px;
    right: -35px;
}

.topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    list-style-type: none;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.menu-container-right-element {
    margin-left: 10px;
    width: 232px;
    height: 90px;
    position: relative;
}

.grids {
    position: absolute;
    right: 111px;
    zoom: 95%;
}

.menu-container-right-element.search {
    margin-bottom: 17px;

}

.menu-container-right-element-drop-down {
    margin-right: 10px;
    min-width: 94px;
}

.menu-container-right-element-last-child {
    margin-right: 15px;
    min-width: 27px;
}

.menu-container-right-element-phone {
    top: 34px;
    left: 1335px;
    width: 136px;
    height: 22px;
    text-align: left;
    font: Bold 16px Navigo;
    letter-spacing: 0.8px;
    color: #2E2E2D;
    opacity: 1;
}

.mn-dwn-arw {
    border-color: #70757a transparent;
    border-style: solid;
    border-width: 5px 3px 0 3px;
    width: 0;
    height: 0;
    margin-left: -2px;
    top: 50%;
    margin-top: 3px;
    position: absolute;
}

.action-menu {
    display: inline;
    position: relative;
    margin-top: 1px;
    vertical-align: middle;
    margin-left: 3px;
}

.action-menu .mn-dwn-arw {
    border-color: black transparent;
    margin-left: 3px;
    left: 0;
}

.menu-container-right-container-1 {
    margin-right: 22px;
    width: 136px;
    margin-left: auto;
}


.topmenu-element:last-child {
    display: none;
}

.topmenu-element.usl {
    position: unset;
}

.topmenu-element {
    padding-left: 10px;
    padding-right: 21px;
}

@media screen and (max-width: 1175px) {

    .topmenu-element:last-child {
        display: inline-block;
    }
    .burger{
        width: 200px!important;
    }

    .topmenu-element.cont{
        display: none;
    }
}

@media screen and (max-width: 1131px) {

    .topmenu-element.press,.menu-container-right-container-1 {
        display: none;
    }
    .burger{
        width: 200px!important;
    }

}

@media screen and (max-width: 1024px) {

    .topmenu-element.comp {
        display: none;
    }


    .burger{
        width: 200px!important;
    }

}

@media screen and (max-width: 930px) {

    .topmenu-element.proj {
        display: none;
    }
    .burger{
        width: 400px!important;
    }
    .burger {
        z-index: 20;
        top: 0px;
        width: 114px;
        height: 75px;
        background: #BB2636 0% 0% no-repeat padding-box;
        opacity: 1;
        padding-top: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 840px) {

    .topmenu-element.prod {
        display: none;
    }
    .burger{
        width: 400px!important;
    }
    .burger {
        z-index: 20;
        top: 0px;
        width: 114px;
        height: 75px;
        background: #BB2636 0% 0% no-repeat padding-box;
        opacity: 1;
        padding-top: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 740px) {

    .topmenu-element.usl {
        display: none;
    }

    .topmenu-element:last-child {
        display: none;
    }
    .burger{
        width: 2000px!important;
    }
    .burger {
        z-index: 20;
        top: 0px;
        width: 114px;
        height: 75px;
        background: #BB2636 0% 0% no-repeat padding-box;
        opacity: 1;
        padding-right: 0px;
        padding-top: 0px;
    }
}

@media screen and (max-width: 647px) {

    .menu-container-right-container-1 {
        display: none;
    }
    .burger{
        width: 2000px!important;
    }
    .burger {
        z-index: 20;
        top: 0px;
        width: 114px;
        height: 75px;
        background: #BB2636 0% 0% no-repeat padding-box;
        opacity: 1;
        padding-right: 0px;
        padding-top: 0px;
    }
}

@media screen and (max-width: 525px) {

    .menu-container-right-element-button {
        display: none;
    }
    .burger{
        width: 2000px!important;
    }
    .burger {
        z-index: 20;
        top: 0px;
        width: 114px;
        height: 75px;
        background: #BB2636 0% 0% no-repeat padding-box;
        opacity: 1;
        padding-right: 0px;
        padding-top: 0px;
    }
}

.submenu li a {
    color: #707070;
    font-family: Navigo;
    font-size: 16px;
    letter-spacing: -0.45px;
    font-weight: 400;
}

.submenu > li {
    border-bottom: 2px solid transparent;
}

.burger {
    z-index: 20;
    top: 0px;
    width: 114px;
    height: 90px;
    background: #BB2636 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-right: 0px;
    padding-top: 10px;
}

.menu-container-right-container-1 a {
    font: 500 16px/22px Navigo;
    color: #2E2E2D;
    text-decoration: none;
}

.content-container {
    display: flex;
    height: 100%;
    background: #F6F7F9 0% 0% no-repeat padding-box;
}

.big{
    font-size: 13px!important;
}

.opinion {
    overflow-y: auto;
    padding-top: 50px;
    padding-left: 57px;
    padding-right: 40px;
    padding-bottom: 40px;
    position: relative;
    width: 100%;
    height: 180%;
    margin-right: 17%;
}

.opinion::-webkit-scrollbar {
    display: none;
}

.opinion-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.opinion-biznes, .opinion-smart, .opinion-standart{
display: none;
}

.content-img img {
    width: 920px;

}

.product {
    display: flex;
    flex-direction: column;
    margin-left: 12%;

}

.visible {
    display: block!important;
}




.product-table p{
    padding-right: 5px;
    font: 500 25px Navigo;
    letter-spacing: 0;
    color: #2E2E2D
}

.product-table abbr{
    font: 500 25px Navigo;
    letter-spacing: 0;
    color: #BB2636;
}

.compl1 {
    width: 136px;
    height: 46px;
    border: #E26873 1px solid;
    border-radius: 5px;


}

#video{
display: none;
}

#demon{
display: none;

}

#PO{
    display: none;
}


.is-active {
    background: #E26873 0% 0% no-repeat padding-box;
}

.is-active p{
color: #FFFFFF;
}

.img-active p{
    color: #FFFFFF!important;
}

.compl2 {
    width: 136px;
    height: 44px;
    border: #E26873 1px solid;
    border-radius: 5px;
    margin-left: 10px;

}

.compl3 {
    width: 136px;
    height: 44px;
    border: #E26873 1px solid;
    border-radius: 5px;
    margin-left: 10px;
}

.complect-name {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}


.compl1 p, .compl2 p, .compl3 p{
    color: #BB2636 ;
}

.tittle h1 {
    font: 500 30px/38px Navigo;
    letter-spacing: -0.15px;
}

.size {
    font: 300 16px/22px Navigo;
    letter-spacing: 0;
    color: #848484;
    margin-top: 5px;
}

.opinion-name {
    margin-top: 15px;
    font: 200 16px Navigo;
    letter-spacing: 0;
    color: #2E2E2D;

}

.opinion-name-standart {
    margin-top: 40px;
    font: 200 16px Navigo;
    letter-spacing: 0;
    color: #2E2E2D;
}

.opinion h4 {
    margin-bottom: 10px;
}

.opinion-name-add {
    margin-top: 30px;
    font: 200 16px/22px Navigo;
    letter-spacing: 0;
    color: #2E2E2D;
}

.choise {
    font: Lighter 14px/34px Navigo;
    letter-spacing: 0;
    color: #636363;

}
.choiseGood {
    font: Lighter 14px/34px Navigo;
    letter-spacing: 0;
    color: #636363;

}
.choiseNew {
    font: Lighter 14px/34px Navigo;
    letter-spacing: 0;
    color: #636363;
    display: none;

}

.choises {
    font: Lighter 14px/34px Navigo;
    letter-spacing: 0;
    color: #636363;

}

.product-name {

}

.product-table > div.left {
    display: flex;
    margin-left: 7%;
    width: 120%;
}

.product-table > div.right {
    margin-left: 30%;
    display: flex;
}

.product-table > div {
    margin-top: 10px;
    font: 500 12px Navigo;
}

.choise input[type="checkbox"] {
    display: none;
}
.choiseGood input[type="checkbox"] {
    display: none;
}
.choiseNew input[type="checkbox"] {
    display: none;
}
.choises input[type="checkbox"] {
    display: none;
}

.choise label {
    cursor: default;
    font-weight: normal;

    vertical-align: middle;
}
.choiseGood label {
    cursor: default;
    font-weight: normal;

    vertical-align: middle;
}
.choiseNew label {
    cursor: default;
    font-weight: normal;

    vertical-align: middle;
}

.choise label:before {
    content: url(img/checkbox.svg);
    display: inline-block;
    margin-right: 5px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    margin-top: -5px;
    height: 24px;
    border-image: initial;
    vertical-align: middle;

}

.choiseGood label:before {
    content: url(img/checkbox.svg);
    display: inline-block;
    margin-right: 5px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    margin-top: -5px;
    height: 24px;
    border-image: initial;
    vertical-align: middle;

}
.choiseNew label:before {
    content: url(img/checkbox.svg);
    display: inline-block;
    margin-right: 5px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    margin-top: -5px;
    height: 24px;
    border-image: initial;
    vertical-align: middle;

}

/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
.choise input:checked + label:before {
    content: url(img/sharp.svg);
}
.choiseGood input:checked + label:before {
    content: url(img/sharp.svg);
}
.choiseNew input:checked + label:before {
    content: url(img/sharp.svg);
}

/* disabled */
.choise input:disabled + label:before {
    background: #eee;
    color: #aaa;
}
.choiseNew input:disabled + label:before {
    background: #eee;
    color: #aaa;
}

.choise-select {
    position: relative;
    margin-bottom: 20px;
    margin-left: 32px;
}

.choise-select select {

    display: block;
    width: 60%; /* от ширины блока div */
    padding: .75rem 2.5rem .75rem 1rem; /* отступы от текста до рамки */
    background: none; /* убираем фон */
    border: 1px solid #ccc; /* рамка */
    border-radius: 3px; /* скругление полей формы */
    -webkit-appearance: none; /* Chrome */
    -moz-appearance: none; /* Firefox */
    appearance: none; /* убираем дефолнтные стрелочки */
    font-family: inherit; /* наследует от родителя */
    font-size: 1rem;
    color: #444;
}

.choise-select:after {
    content: url(img/choise-arrow.svg);
    display: block;
    pointer-events: none;
    position: absolute;
    top: 20%;
    right: 42%;
    z-index: 1;
}

.choise-select select {
    font: Lighter 13px Navigo;

    color: #939494;
}

.line {
    border: 1px solid #949C99;
    margin-top: 100px;
}

.checkout-tittle {
    margin-top: 60px;
    font: 500 30px Navigo;
    letter-spacing: -0.15px;
}



.checkout-main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.checkout-main-form > div {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.checkout-main-form > div > input{
    width: 80%;
    border: 1px solid #DFE0DF;
    height: 50px;
    padding: 10px 30px;
    opacity: 1;
}

.checkout-main-form > div > textarea {
    width: 80%;
    border: 1px solid #DFE0DF;
    padding: 10px 30px;
    opacity: 1;
}

.checkout-main-form > div > input::placeholder,.checkout-main-form > div > textarea::placeholder {
    color: #DFE0DF;
}

.checkout {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-call {
    margin-top: 20px;
    margin-bottom: 15px;
    font: Lighter 16px/44px Navigo;
    letter-spacing: 0;
    color: #2E2E2D;
}

.submit-btn {
    background: #BB2636 0% 0% no-repeat padding-box;
    width: 250px;
    height: 80px;
    border-style: unset;
    font: 300 18px Navigo;
    letter-spacing: 0.45px;
    color: #FFFFFF
}
 abbr {
     font: Lighter 14px Navigo;
     color: #BB2636
}

.product-name > div,  .total-name > div {
    margin-left: 5px;
}


.complect-name p{
    margin-top: 12px;
    font: Lighter 16px Navigo;
    letter-spacing: 0;
    color: black;
    align-self: center;
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

.content-img {
    position: relative;
    zoom: 66%;
}

.product-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: white;
    padding-bottom: 15px;
    border-radius: 15px;
    zoom: 76%;
}

.content-img-added {
    position: absolute;
    top: -150px;
    left: 0;
}



.content-img-cameras {
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    z-index: 2;
 }

.content-img-guSpeak {
    position: absolute;
    left: -112px;
    visibility: hidden;
    bottom: 169px;
}

.content-img-map {
    position: absolute;
bottom: 9px;
    left: 0;
    visibility: hidden;
}

.content-img-sitic {
    position: absolute;
    top: 0px;
    left: 0;
    visibility: hidden;

}

.content-img-marker {
    position: absolute;
    left: -2px;
    visibility: hidden;
    z-index: 1;
    bottom: 3px;
}

.content-img-mark-camera {
    position: absolute;
    left: 6px;
   visibility: hidden;
    bottom: -25px;

}

.content-img-middle-icons {
    position: absolute;
    top: 129px;
    left: -18px;
    zoom: 69%;
    visibility: hidden;

}

.content-img-middle-icons-usb {
    position: absolute;
    left: -30px;
    zoom: 69%;
    visibility: hidden;
    bottom: 21px;


}
.content-img-middle-icons-camera {
    position: absolute;
    top: 132px;
    left: -19px;
    zoom: 69%;

}

.content-img-right-icons-usb{
    position: absolute;
    bottom: 112px;
    left: 411px;
    z-index: 0;
    zoom: 68%;
    visibility: hidden;
}

.content-img-middle-icons{
    position: absolute;
    top: 129px;
    left: -17px;
    z-index: 999;
    zoom: 69%;
    visibility: hidden;
}

.content-img-right-icons-wifi{
    position: absolute;
    bottom: 194px;
    left: 246px;
visibility: hidden;
    z-index: 0;
    zoom: 69%;
}
.content-img-format {
    position: absolute;
    left: -12px;
    zoom: 69%;
    z-index: 2;
    visibility: hidden;
    bottom: -63px;
}

.content-img-middle-icons-wifi {
    position: absolute;
    left: -114px;
    zoom: 69%;
    z-index: 2;
    visibility: hidden;
    bottom: 107px;
}

.img-active{
    visibility: visible!important;
}

.choises label:before{
    content: url(img/checkbox.svg)!important;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    margin-top: -5px;
    height: 24px;
    border-image: initial;
    vertical-align: middle;
}

.compl1,.compl2,.compl3,#side5,.checkout-name,.submit-btn,.choise label,.choiseGood label,.choise-select select,.choiseNew label{
    cursor: pointer;
}

.product-tableInfo{
    background: #FFFFFF;
    margin-top: 25px;
    border-radius:15px;
    padding: 12px 0px 15px 0px;
}

.product-tableInfo-tittle{
    padding-right: 5px;
    font: 500 25px Navigo;
    letter-spacing: 0;
    color: #2E2E2D;
    margin-left: 32px;
}

.product-tableInfo-desc{
    padding-right: 5px;
    font: 500 17px Navigo;
    letter-spacing: 0;
    color: #2E2E2D;
    margin-left: 32px;
}

.content-img-gus{
    position: absolute;
    left: -28px;
    visibility: hidden;
    zoom: 69%;
    bottom: 529px;
}

.content-img-light{
    position: absolute;
    left: 55px;
    visibility: hidden;
    zoom: 64%;
    bottom: 183px;
    z-index: 0;
}

.content-img-right-icons-usbMod{
    position: absolute;
    left: 0;
    visibility: hidden;
    bottom: 6px;
}

.content-img-markeros{
    position: absolute;
    left: 65px;
    visibility: hidden;
    zoom: 90%;
    bottom: 77px;
}

.content-img-camLeft{
    position: absolute;
    left: 0;
    visibility: hidden;
    bottom: 3px;
}

.content-img-camRight{
    position: absolute;
    right: 0;
    visibility: hidden;
    bottom: 4px;
}


.content-img-police1{
    position: absolute;
    left: 0px;
    visibility: hidden;
    bottom: 3px;
}

.content-img-police2{
    position: absolute;
    right: -1px;
    visibility: hidden;
    bottom: 2px;
}

.content-img-siticRight{
    position: absolute;
    right: 0px;
    bottom: 8px;
    visibility: hidden;

}

.content-img-etablo{
    position: absolute;
    left: 40px;
    visibility: hidden;
    bottom: 30px;
    zoom: 95%;
}

.content-img-trash{
    position: absolute;
    left: 40px;
    bottom: 30px;
    zoom: 95%;
    z-index: 5;
}
.content-img-izo{
    position: absolute;
    left: 40px;
    bottom: 30px;
    zoom: 95%;
    z-index: 5;
}
















#myNav{
    margin-top: 5%;
}

.overlay-content{
    margin-bottom: 6%;
}

.btn-primary{
    background-color:#bb2636!important;
    border-color: #bb2636!important;
    color: #FFFFFF!important;
    margin-bottom: 54px;
    max-width: 387px;
    height: 50px;
}

.menu-products{
    margin-top: 22px;
}

.last-menu-products{
    margin-top: 47px;
}

.overlay-menu{
    margin-top: 45px;
}



.hidden-menu ul{
    list-style-type: none;
}

.menu-columns a{
    color: #bbbbba!important;
    font-weight: 400;
}

.menu-products,.overlay-menu{
    font-size: 22px!important;
}

#samuel{
    color: #FFFFFF!important;
}
.container{
    margin-left: 7%!important;
}

.overlay strong {
    color: white;
}

.overlay p {
    color: #bbbbba;
    font-size: 18px;
}


.menu-columns{
    width: 175%;
}

#ColTittle > h4{
    color: #FFFFFF!important;
}

#myNav > div.overlay-footer > div > div > div.col-md-4{
    margin-right: 6%;
    color:#939494
}

#myNav > div.overlay-footer > div > div{
    width: 139%;
    color:#939494
}
#navbarSupportedContent{
    display: none!important;
}

#myNav > div.overlay-footer > div > div > div.col-md-3 > div > a{
    color: #b9b9b9;
}


@media (max-height: 768px) {
    .intro-desc {
        display: none;
    }
}
@media (max-width: 1600px) {

    .digit-sect .circle-icons-container .circle-icon-block{
        width: 100%;
    }
    .digit-sect .circle-icons-container .feature-block {
        right: 60px;
        left: auto;
        width: auto;
    }
    .digit-sect .circle-icons-container .small-circle {
        top: 5px;
        left: 225px;
    }
    .digit-sect .circle-icons-container .line-icon-pattern {
        width: 499px;
        left: 226px;
        top: 37px;
    }
    .digit-sect .circle-icons-container .circle-icon {
        left: 284px;
    }
    .digit-sect .circle-icons-container .circle-icon:nth-child(4) {
        left: 384px;
    }
    .digit-sect .circle-icons-container .circle-icon:nth-child(5) {
        left: 484px;
    }
    .digit-sect .circle-icons-container .circle-icon:nth-child(6) {
        left: 584px;
    }
    .digit-sect .rask-sign {
        zoom: 90%;
    }
    .digit-sect .feature-block {
        width: 386px;
    }
    .digit-sect .feature-block {
        width: 323px;
    }
    .digit-sect .small-circle {
        position: absolute;
    }
    .digit-sect .circle-icon {
        left: auto;
        right: -80px;
    }
    .digit-sect .circle-icon-block {
        width: 130px;
    }
    .digit-sect .line-icon-pattern {
        width: 120px;
        margin: 0;
        left: 9px;
    }
    .digit-sect .feature-block:nth-child(5) .small-circle {
        position: absolute;
        left: 0;
        top: -4px;
    }
    .digit-sect .feature-block:nth-child(2) .line-icon-pattern, .digit-sect .feature-block:nth-child(3) .line-icon-pattern {
        width: 70px;
        left: auto;
        right: -5px;
        position: absolute;
    }
    .digit-sect .feature-block:nth-child(3) .small-circle {
        left: 54px;
    }
    .intro-middle {
        margin-top: -80px;
    }
    .about-page .company-sect {
        padding-top: 0;
    }
    .hr-line, .hr-line-small {
        width: 20px;
    }
    .production-slide {
        margin-bottom: 0;
    }
    .production-slide-img {
        height: 305px;
        overflow: hidden;
    }
    .nav-tabs .nav-link {
        margin: 0 15px;
        font-size: 16px;
    }
    .production-sect .nav-tabs .nav-link {
        padding: 15px 0px !important;
    }
    .intro-sect .navbar-brand {
        left: -124px;
    }
    .intro-sect.bg-page .navbar-light .navbar-nav .nav-link, .production-slide a, .intro-sect .navbar-light .navbar-nav .nav-link, .product-meta a {
        font-size: 14px;
    }
    .main-project__container {
        padding: 20px 0;
    }
    .product-item-btn-section a {
        padding: 0 30px;
    }
    .main-project__photo, .main-project__container {
        width: 50%;
    }
    .main-project__name, .project__name {
        font-size: 26px;
        line-height: 1.3;
    }
    .main-project__content {
        padding: 52px 70px;
    }
    .main-project__name {
        font-size: 24px;
    }
    h1 {
        font-size: 58px;
    }
    .container {
        max-width: 1140px;
    }

    .production-slide {
        padding: 0 20px;
    }
    h3 br {
        display: none;
    }
    .about-right-block {
        max-width: 90%;
        padding: 23px 0px 0 34px;
    }

    .number-line {
        font-size: 46px;
    }

    .circle-icons-container .circle-icon {
        width: 80px;
        height: 80px;
        line-height: 80px;
    }

    .circle-icons-container .circle-icon img {
        max-width: 30px;
    }

    .circle-icons-container .small-circle {
        margin-top: 26px;
    }

    .hr-line {
        margin-top: 30px;
    }

    .hr-line-small {
        margin-top: 30px;
    }
    #navbarSupportedContent{
        display: none!important;
    }
}

@media (max-width: 1400px) {
    .intro-sect.bg-page .head-top.on>.container {
        border-left: 0px;
    }
    .overlay a {
        font-size: 20px;
    }
    .overlay-menu li {
        margin-bottom: 20px;
    }
    .menu-products ul li {
        margin-bottom: 12px;
    }
    .vk {
        right: 15px;
    }
    .fb {
        right: 65px;
    }
    .in {
        right: 115px;
    }
    .btn-menu {
        height: 92px;
    }
    .intro-sect .navbar-brand {
        position: relative;
        left: auto;
    }
    .main-page .intro-middle {
        padding-top: 50px;
    }
    .head-top>.container {
        padding: 0 0 0 15px;
    }
    .last-item {
        position: relative;
        right: auto;
    }
    .nav-link {
        padding: 10px 5px !important;
    }
    .navbar-nav .btn, .navbar-nav .btn {
        padding: 30px 30px;
    }
    .year__desc {
        position: absolute;
        top: 30px;
        max-width: 600px;
        right: calc(-50vw + 160px);
        width: calc(50vw - 200px);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 5px;
        padding: 40px 20px;
        color: #2E2E2D;
    }
    .history__item:nth-child(2n) .line-icon-pattern {
        right: auto;
        left: -30px;
    }
    .history__item:nth-child(2n) .small-circle {
        right: auto;
        left: -37px;
    }
    .history__item:nth-child(2n) .year__desc {
        right: auto;
        left: calc(-50vw + 160px);
    }
    #navbarSupportedContent{
        display: none!important;
    }
}
@media (max-width: 1200px) {

    .company-sect, .digit-sect, .nav-item.last-item {
        display: none;
    }
    .about-right-block {
        padding: 0px 0px 0 54px;
    }
    section, section.features-sect {
        padding: 50px 0;
    }
    section.projects-sect {
        padding-top: 50px;
    }
    .projects-button-prev, .projects-button-next, .swiper-button-next, .swiper-button-prev, .big-container .swiper-button-next, .big-container .swiper-button-prev, .small-container .swiper-button-next, .small-container .swiper-button-prev {
        width: 63px;
        height: 63px;
    }
    .projects-sect .swiper-pagination, .projects-pagination {
        width: 100%;
    }
    .projects-sect .swiper-button-next {
        right: 30px;
        top: auto;
        margin-top: 0;
    }
    .projects-sect .swiper-button-prev {
        top: auto;
        margin-top: 0;
        left: auto;
        right: 110px;
    }
    .big-container .swiper-button-prev, .projects-button-prev {
        right: 93px;
    }
    .big-container .swiper-button-next, .projects-button-next {
        right: 10px;
    }
    .intro-sect .navbar-light .navbar-nav .nav-link {
        padding: 10px !important;
        font-size: 14px;
    }
    .navbar-nav .btn {
        padding: 30px 20px;
        right: -1px;
    }
    .about-sect {
        padding-top: 80px;
    }
    .production-slider {
        padding: 0 50px;
    }
    .nav-tabs .nav-link {
        margin: 0 20px;
    }
    .production-slide h4 {
        font-size: 18px;
        margin: 15px 0 10px;
        min-height: auto;
    }
    .regular-link {
        display: block;
        border-right: 0px;
    }
    .production-slider .swiper-button-next {
        right: 0px;
    }
    .production-slider .swiper-button-prev {
        left: 0px;
    }
    .main-project__content, .project__content {
        padding: 32px 50px;
        height: auto;
    }
    body.page-product .bx-breadcrumb {
        margin-bottom: 40px;
    }
    .main-project__content {
        padding: 28px 70px;
    }
    h1 {
        font-size: 46px;
    }
    .logo {
        padding: 20px 15px;
    }
    .product-item-detail-slider-block {
        padding-top: 520px;
    }
    .product-order {
        margin-bottom: 20px;
    }
    .main-project__container {
        padding: 0;
    }
    .nav-link {
        font-size: 14px;
    }

    .feature-block {
        width: 45%;
        position: static;
        display: flex;
        flex-direction: column;
        flex-basis: 45%;
        display: inline-block;
    }

    .feature-block p {
        order: 3;
    }

    .feature-block .number-line {
        order: 2;
    }

    .circle-icon-block {
        order: 1;
        margin: 20px 0;
    }

    .small-circle,
    .line-icon-pattern {
        display: none;
    }
    .history__item .small-circle, .history__item .line-icon-pattern {
        display: block;
    }
    .rask-sign {
        display: none;
    }

    .slick-next {
        right: 0;
    }

    .slick-prev {
        left: 0;
    }
    .menu-columns{
        display: none!important;
    }
    #navbarSupportedContent{
        display: block!important;
    }
    .hidden-menu{
        background: none;
        margin-top: 117px;
    }
}

@media (max-width: 992px) {
    .navbar-collapse {
        text-align-last: center;
        position: fixed;
        top: 0px;
        left: 0;
        padding-bottom: 15px;
        width: 100%;
        z-index: 999;
        background: rgba(0, 0, 0, 0.8);
    }

    .navbar-nav .btn {
        padding: 20px 10px;
        height: auto;
        background: #BB2636;
    }
    .intro-sect .navbar .navbar-collapse {
        padding: 15px 0 25px;
    }
    .navbar-light .navbar-toggler-icon {
        width: 31.25px;
        height: 31.25px;
    }
    .intro-sect .navbar, .intro-sect .head-top>.container {
        border-bottom: 0px;
        border-right: 0px;
    }
    .page-content iframe {
        max-width: 100% !important;
        height: auto !important;
    }
    .intro-sect.bg-page .header-bottom {
        padding-right: 0;
    }
    .nav-item.last-item {
        display: none;
    }
    .navbar-light .navbar-toggler {
        background: #BB2636;
        border-radius: 0px;
        color: #fff;
        width: 74px;
        height: 58px;
    }
    .navbar-light .navbar-toggler-icon {
        color: #fff;
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .form-head h3 {
        font-size: 54px;
    }
    .form-table {
        width: 90%;
        margin: 0 auto;
    }
    .form-table .label {
        display: none;
    }
    .services a {
        font-size: 38px;
        height: 350px;
    }
    .intro-sect .navbar-brand {
        top: auto;
    }
    .product-meta-link {
        display: block;
    }
    .product-meta-link:nth-child(2) {
        border-left: 0px;
        padding-left: 0px;
    }
    .product-item-image-wrapper {
        padding-top: 236px;
    }
    .history__items {
        width: 100%;
    }
    .history__item {
        background: inherit;
        width: auto;
        height: auto;
        border-radius: inherit;
        padding-bottom: 30px;
    }
    .year {
        top: -20px;
        left: 0;
        transform: initial;
        text-align: center;
    }
    .year span {
        display: inline-block;
    }
    .history__item .small-circle, .history__item .line-icon-pattern, .history__item:after {
        display: none;
    }
    .year__desc, .history__item:nth-child(2n) .year__desc {
        position: relative;
        right: auto;
        left: auto;
        width: auto;
        margin: 0 auto;
    }
    .production-slide {
        border-left: 0px;
    }
    .about-right-block {
        padding-left: 0;
        max-width: 100%;
    }
    h2 {
        font-size: 38px;
        margin-bottom: 20px;
    }
    .production-sect .nav-tabs .nav-link {
        padding-bottom: 10px !important;
        font-size: 15px;
    }
    .production-sect .nav-tabs {
        margin-left: -10px;
        margin-right: -10px;
    }
    .nav-tabs .nav-link {
        margin: 0 10px;
    }
    .navbar-light .navbar-toggler {
        border: 0px;
    }
    .navbar-toggler-icon {
        width: 2.5em;
        height: 2.5em;
    }
    .main-project__photo, .project__photo {
        width: 100%;
        float: none;
        max-height: 250px;
        overflow: hidden;
    }
    .main-project__container, .project__container {
        width: 100%;
        float: none;
        padding-top: 0px;
        position: relative;
        top: auto;
        left: auto;
        transform: initial;
    }
    .main-project__item, .project__item {
        margin-bottom: 40px;
    }
    .news__item {
        padding: 0 20px;
    }
    .row.news__items {
        margin-right: -20px;
        margin-left: -20px;
    }
    .news__item-title {
        font-size: 18px;
    }
    .news__item-data {
        margin: 20px 0 10px;
    }
    h1 {
        font-size: 30px;
    }
    .overlay {
        position: absolute;
        top: 0;
        padding: 40px 0;
    }
    .nav-container{
       visibility: hidden;
    }
    .main-project__photo, .main-project__container {
        width: 100%;
        float: none;
    }
    .main-projects__items {
        max-width: 90%;
        margin: 0 auto;
    }
    .main-project__photo img {
        width: 100%;
    }
    .menu-columns{
        display: none!important;
    }
    #navbarSupportedContent{
        display: block!important;
    }
    .hidden-menu{
        background: none;
        margin-top: 117px;
    }
}

@media (max-width: 767px) {
    .product-meta-link a {
        font-size: 12px;
    }
    .product-item-big-card {
        border-left: 1px #BBBBBA dotted;
    }
    .nav-container{
        visibility: hidden;
    }
    .product-item-big-card .product-item-title {
        height: auto;
        margin-bottom: 15px;
    }
    .product-meta-link {
        display: inline-block;
        width: auto;
        padding: 0px;
    }
    .product-meta-link:nth-child(1) a {
        padding-right: 8px;
    }
    .product-meta-link:nth-child(2) a {
        padding-left: 5px;
    }
    .navbar-brand {
        height: 58px;
    }
    .order a, .product-item-btn-section a {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .order a:nth-child(2) {
        margin-left: 0;
    }
    .page-content {
        padding: 5px 0;
    }
    .big-container .swiper-button-prev, .projects-button-prev, .small-container .swiper-button-prev, .small-container .swiper-button-prev {
        right: 73px;
    }
    .big-container .swiper-button-next, .projects-button-next, .small-container .swiper-button-next {
        right: 0;
    }
    .intro-bottom {
        width: 100%;
    }
    .btn-calc {
        width: 100%;
    }
    .form-head h3 {
        font-size: 40px;
    }
    .right-block {
        position: relative;
        top: auto;
        right: auto;
        margin-top: 40px;
    }
    .services a {
        font-size: 32px;
        width: 100%;
        float: none;
        height: 300px;
    }
    .product-item-detail-info-section h3 {
        font-size: 24px;
    }
    .product-item-detail-properties {
        width: 100%;
    }
    .product-item-detail-slider-block {
        padding-top: 320px;
    }
    .product-item {
        border-left: 0px;
        padding-top: 0;
    }
    .product-item-big-card:nth-child(3n) .product-item {
        padding-right: 0;
        border-right: 0px;
    }
    .product-meta-link:nth-child(2) a {
        text-decoration: none;
    }
    h1 {
        margin-bottom: 25px;
    }
    .other-news h2 a {
        float: left;
        margin-top: 15px;
    }
    .intro-middle {
        top: 60%;
    }
    .order {
        margin: 50px 0;
        padding: 30px 0;
    }
    .order p {
        font-size: 24px;
    }
    .description__title h2, .main-projects__title h2 {
        line-height: 87px;
        font-size: 24px;
    }
    .description__title, .main-projects__title {
        height: 87px;
        line-height: 87px;
    }
    .order a, .product-item-btn-section a {
        line-height: 66px;
        padding: 0 30px;
    }
    .main-projects__title h2 a {
        display: none;
        position: relative;
        left: auto;
        right: auto;
        display: block;
        margin-top: 15px;
        line-height: 1;
    }
    .client-block.cb-big {
        margin-bottom: 25px;
    }
    .main-project__link a, .project__link a {
        display: block;
        padding-left: 0px;
    }
    .main-project__link a:nth-child(1), .project__link a:nth-child(1) {
        border-right: 0px;
        text-decoration: underline;
    }
    .production-slider, .production-slide, .swiper-slide:nth-child(1) .production-slide {
        padding: 0;
        border: 0px;
        border-left: 0px;
    }
    .clients-sect {
        margin-top: 50px;
    }
    .production-slide-img {
        height: auto;
    }
    .intro-sect.bg-page>.container {
        height: calc(100vh - 74px);
    }
    .col-md-6:nth-child(3) .client-block, .col-md-6:nth-child(4) .client-block {
        margin-bottom: 20px;
    }
    section, section.features-sect {
        padding: 25px 0;
    }
    section.projects-sect {
        padding-top: 25px;
    }
    body {
        font-size: 14px;
    }
    .icon-block {
        margin-bottom: 25px;
    }
    .intro-desc, .features-sect .container .features-arrow {
        display: none;
    }
    .map-partner {
        line-height: 1;
        padding: 10px 40px 10px 20px;
    }
    .map-partner span {
        top: 16px;
        right: 20px;
    }
    .main-project__content {
        padding: 32px 70px;
        height: auto;
    }
    .main-project__link a {
        font-size: 14px;
        padding-right: 10px;
    }
    .features__item {
        width: 50%;
    }
    .intro-middle {
        padding: 40px 0 0;
    }

    .intro-sect h1 {
        font-size: 32px;
    }

    .about-right-block {
        max-width: 100%;
        padding: 0;
    }

    h2 {
        font-size: 28px;
    }

    .icon-block {
        flex-basis: 45%;
    }

    .image-left {
        width: 100%;
    }

    .project-desc {
        width: 100%;
    }

    .project-slide {
        max-height: unset;
    }

    .cb-big {
        padding: 30px;
    }
    .nav-container{
        visibility: hidden;
    }
    .menu-columns{
        display: none!important;
    }
    #navbarSupportedContent{
        display: block!important;
    }
    .hidden-menu{
        background: none;
        margin-top: 117px;
    }
}

@media (max-width: 576px) {
    .main-project__content, .project__content {
        padding: 25px 20px;
    }
    .main-project__name, .project__name {
        font-size: 18px;
    }
    .icon-block {
        flex-basis: 100%;
    }
    .nav-container{
        visibility: hidden;
    }
    .menu-columns{
        display: none!important;
    }
    #navbarSupportedContent{
        display: block!important;
    }
    .hidden-menu{
        background: none;
        margin-top: 117px;
    }
}

