@media screen and (max-width: 990px) {
    .product{
        margin-left: 0px!important;
        width: 53%!important;
    }
    .opinion{
        margin-right: 0px!important;
        padding-left: 23px!important;
    }
    .content-img {
        zoom: 58%!important;
    }
}

@media (min-width: 768px){
    .col-md-4 {
        max-width: 22.333333%!important;
    }
    .col-md-5 {
        max-width: 31.666667%;
    }

}

